Preis Tracker V1.1.json
[
    {
        "id": "a6e4403464e1f3bd",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f771e2c703b83a4",
        "type": "http request",
        "z": "a6e4403464e1f3bd",
        "name": "Preis abfragen",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.backmarket.de/de-de/p/samsung-galaxy-s22-256-gb-schwarz-ohne-vertrag/4ca7c69c-ff6f-4383-91f7-80681ad9f08d#l=12&scroll=false",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "6a613090c266b2e4"
            ]
        ]
    },
    {
        "id": "f93e7268e5514d10",
        "type": "inject",
        "z": "a6e4403464e1f3bd",
        "name": "Tägliche Abfrage",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 14 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "0f771e2c703b83a4"
            ]
        ]
    },
    {
        "id": "f704f03cb7258705",
        "type": "inject",
        "z": "a6e4403464e1f3bd",
        "name": "Test Value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "397",
        "payloadType": "num",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "dc8d5e45babc47d2"
            ]
        ]
    },
    {
        "id": "dc8d5e45babc47d2",
        "type": "function",
        "z": "a6e4403464e1f3bd",
        "name": "Datum hinzufügen",
        "func": "// Erhalten Sie den eingehenden Wert\nvar eingehenderWert = msg.payload;\n\n// Erstellen Sie ein Date-Objekt für das aktuelle Datum\nvar aktuellesDatum = new Date();\n\n// Extrahieren Sie Tag, Monat und Jahr\nvar tag = aktuellesDatum.getDate();\nvar monat = aktuellesDatum.getMonth() + 1; // Monate werden von 0 bis 11 gezählt, daher +1\nvar jahr = aktuellesDatum.getFullYear();\n\n// Fügen Sie führende Nullen hinzu, falls erforderlich\nif (tag < 10) {\n    tag = '0' + tag;\n}\nif (monat < 10) {\n    monat = '0' + monat;\n}\n\n// Erstellen Sie das Datum im gewünschten Format (DD-MM-YYYY)\nvar formatiertesDatum = tag + '-' + monat + '-' + jahr;\n\n// Erstellen Sie das JSON-Objekt mit dem Datum und dem empfangenen Wert\nvar jsonObjekt = {\n    \"datum\": formatiertesDatum,\n    \"preis\": eingehenderWert\n};\n\n// Senden Sie das JSON-Objekt weiter\nmsg.payload = jsonObjekt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "26c2010f751568d0"
            ]
        ]
    },
    {
        "id": "26c2010f751568d0",
        "type": "function",
        "z": "a6e4403464e1f3bd",
        "name": "JSON zu CSV",
        "func": "var datum = msg.payload.datum; // Datum aus dem JSON-Objekt\nvar wert = msg.payload.preis; // Wert aus dem JSON-Objekt\n\n// CSV-Format erstellen\nvar csvString = datum + ',' + wert;\n\nmsg.payload = csvString; // Das CSV-Format als Payload setzen\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "2711b6db62575f90"
            ]
        ]
    },
    {
        "id": "2711b6db62575f90",
        "type": "file",
        "z": "a6e4403464e1f3bd",
        "name": "Speichern in CSV",
        "filename": "/home/spb/s22+-schwarz.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "1a985ad88aa6d0fe"
            ]
        ]
    },
    {
        "id": "1a985ad88aa6d0fe",
        "type": "file in",
        "z": "a6e4403464e1f3bd",
        "name": "Lesen aus CSV",
        "filename": "/home/spb/s22+-schwarz.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "0278d23dadcfbe27",
                "1fb8fccf11ce505e"
            ]
        ]
    },
    {
        "id": "076932cf2134e79e",
        "type": "inject",
        "z": "a6e4403464e1f3bd",
        "name": "Update Graph",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "1a985ad88aa6d0fe"
            ]
        ]
    },
    {
        "id": "0278d23dadcfbe27",
        "type": "csv",
        "z": "a6e4403464e1f3bd",
        "name": "CSV zu JSON",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "28f3e9d7ad370383"
            ]
        ]
    },
    {
        "id": "2d299f6c431f367a",
        "type": "ui_chart",
        "z": "a6e4403464e1f3bd",
        "name": "",
        "group": "bb0420c613ed0eb8",
        "order": 1,
        "width": 6,
        "height": 6,
        "label": "S22+ Schwarz",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "300",
        "ymax": "450",
        "removeOlder": "10",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "28f3e9d7ad370383",
        "type": "function",
        "z": "a6e4403464e1f3bd",
        "name": "Convert to Chart Data",
        "func": "// Überprüfen, ob die Nachricht ein gültiges JSON-Objekt enthält\nif (msg.payload && typeof msg.payload === 'object' && msg.payload.Datum && msg.payload.Preis) {\n    // Extrahiere Datum und Preis aus dem JSON-Objekt\n    const datumParts = msg.payload.Datum.split('-'); // Splitte das Datum in Tag, Monat und Jahr\n    const tag = parseInt(datumParts[0], 10);\n    const monat = parseInt(datumParts[1], 10) - 1; // Monate in JavaScript sind 0-basiert\n    const jahr = parseInt(datumParts[2], 10);\n\n    // Erstelle ein neues Datumobjekt\n    const datumObjekt = new Date(jahr, monat, tag);\n\n    // Ändere msg.timestamp zu dem angegebenen Datum\n    msg.timestamp = datumObjekt.getTime(); // Hier wird das Datum in Millisekunden seit dem 1. Januar 1970 (Unix-Zeit) umgewandelt\n\n    // Setze msg.payload auf den Preis\n    msg.payload = msg.payload.Preis;\n\n    // Fertige Nachricht senden\n    return msg;\n} else {\n    // Wenn die Nachricht nicht das erwartete Format hat, logge einen Fehler und sende die unveränderte Nachricht\n    node.error(\"Ungültiges Nachrichtenformat. Erwarte {\\\"Datum\\\":\\\"07-04-2024\\\",\\\"Preis\\\":397}\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "2d299f6c431f367a",
                "f31bfe3597c8f566",
                "292d59662250ddf1"
            ]
        ]
    },
    {
        "id": "d37ec1943b8fc81a",
        "type": "debug",
        "z": "a6e4403464e1f3bd",
        "name": "S22+",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "f31bfe3597c8f566",
        "type": "ui_text",
        "z": "a6e4403464e1f3bd",
        "group": "bb0420c613ed0eb8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Letzter Preis S22+",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "6a613090c266b2e4",
        "type": "html",
        "z": "a6e4403464e1f3bd",
        "name": "Json Extrahieren",
        "property": "payload",
        "outproperty": "payload",
        "tag": "script[type=\"application/ld+json\"]",
        "ret": "html",
        "as": "multi",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "fccaae9844334c93"
            ]
        ]
    },
    {
        "id": "fccaae9844334c93",
        "type": "function",
        "z": "a6e4403464e1f3bd",
        "name": "Convert to Json and Extract Price",
        "func": "// Die empfangene Nachricht als String\nvar msgPayload = msg.payload;\n\n// Funktion zum Umwandeln von HTML-Entitäten in normale Zeichen\nfunction decodeHTML(html) {\n    return html.replace(/&quot;/g, '\"')\n               .replace(/&#x([a-f0-9]+);/gi, function(match, hex) {\n                   return String.fromCharCode(parseInt(hex, 16));\n               });\n}\n\n// HTML-Entitäten in normale Zeichen umwandeln\nvar decodedMsgPayload = decodeHTML(msgPayload);\n\n\n// Umwandlung des Strings in ein JSON-Objekt\nvar jsonPayload = JSON.parse(decodedMsgPayload);\n\n\nvar newMsg = { payload: jsonPayload};\nvar price = newMsg.payload.offers.price;\nvar number = parseFloat(price);\nnewMsg = { payload: number};\nreturn newMsg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 160,
        "wires": [
            [
                "d37ec1943b8fc81a",
                "dc8d5e45babc47d2"
            ]
        ]
    },
    {
        "id": "292d59662250ddf1",
        "type": "function",
        "z": "a6e4403464e1f3bd",
        "name": "Min Price",
        "func": "var price = msg.payload;\nvar price_min = global.get(\"minPrice_S22+\");\n\nif(price < price_min){\n    global.set(\"minPrice_S22+\", price);\n}\n\nvar msg = {payload: global.get(\"minPrice_S22+\")};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "9ce0252099d81ac6"
            ]
        ]
    },
    {
        "id": "1fb8fccf11ce505e",
        "type": "function",
        "z": "a6e4403464e1f3bd",
        "name": "Reset Min Price + Reset Chart",
        "func": "global.set(\"minPrice_S22+\", 1000);\nmsg.payload =  [];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "2d299f6c431f367a"
            ]
        ]
    },
    {
        "id": "9ce0252099d81ac6",
        "type": "ui_text",
        "z": "a6e4403464e1f3bd",
        "group": "bb0420c613ed0eb8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Min Preis S22+",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 340,
        "wires": []
    },
    {
        "id": "bb0420c613ed0eb8",
        "type": "ui_group",
        "name": "S22+",
        "tab": "6f112ed8d4e6330c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f112ed8d4e6330c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]